* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #BFAE9F;
	font-family: Helvetica, sans-serif;
}
section {
	margin:20px;
}
#Splash {
	background: #000 url(images/senior_residents_at_montepelier.jpg) no-repeat;
	background-size: cover;
	height:100vh;
}
#Adopt {
}
#Foster {
}
#Sponsor {
}
#Contact {
}
h1 {
	text-transform: uppercase;
}
img {
	width:150px;
}
