* {margin:0;padding:0;box-sizing:border-box;}
body {
	color:#BFAE9F;
	font-size:18px;
	font-family:'Cinzel Decorative', cursive;
	font-weight:400;
}
#Splash {
	background:url('../images/tito.jpg') no-repeat;
	background-size: cover;
	margin:0 0 5em 0;
	height:100vh;
	padding:1.5em;
}
#Adopt {
	width:100%;
	padding: 400px 0 0 200px;
	background-image:url('../images/bisk+daisy.jpg');
}
#Foster {
}
#Sponsor {
}
#Contact {
	background:url('../images/tito.jpg'); 
	width: 100%
	margin:0 0 5em 0;
	height:100%
}
h1 {
	text-transform: uppercase;
}
img {
	width:150px;
}
