* {margin:0;padding:2em; box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {
	font-family:'Rouge Script', cursive;
}
p {
	font-family: 'EB Garamond', serif;
	line-height:1.25em;
	text-align:justify;
	padding: 1em;
	font-size:6em;
}
body{
	color:#BFAE9F;
	background:url('../images/bisk+daisy.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-color:rgba(210,247,250,.5);
	background-repeat:no-repeat;
	font-size:16px;
	font-family:'Oswald',sans-serif;
	font-weight:400;
}
header {
	font-family:'Rouge Script', cursive;
	color:#BFAE9F;
	position:relative;
	text-align:left;
	padding:1em;
	font-size:10em;
}
Section{
	padding:5%;
	width:100%;
}
Section#Splash{
	height:100vh;
	float:left;
}
#Splash div{
		background:url('../images/titoprofile.jpg');
		background-repeat:no-repeat;
		height:100vh;
}
#Main{
	padding:10em;
}
Span {
	background-color:rgba(16,16,36,.25);
}
#Adopt{

}
.columns{
	padding:2em;
	float:left;
	background-color: rgba(0, 3, 0, 0.85);
	color:#f6f6f6;
	margin:5em 1em;
	width:25%;
	text-align:justify;
	background:url('../images/titoprofile.jpg');
	border-radius:50%;
	background-repeat:no-repeat;
}
#Foster{

}
#Sponsor{
	background:url('../images/tito.jpg'); 
	background-repeat:no-repeat;
	width:100%;
}
#Contact{
	background-color:rgba(210,247,250,.5); 
	width:100%;
}
