* {margin:0;padding:0; box-sizing:border-box; border:2px solid #000;}
h1,h2,h3,h4,h5,h6 {
	font-family:'Josefin Slab',serif;
}
body {
	color:#BFAE9F;
	background-image:('../images/bisk+daisy.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	font-size:16px;
	font-family:'Oswald',sans-serif;
	font-weight:400;
}
Section {
	padding:20%;
}
#Splash {
	height:100vh;
	float:left;
	margin:10%;
}
#Splash div{
		background-image:('../images/bisk+daisy.jpg');
		height:100vh;
		padding:10%;
}
#Main {
	padding:20em
}
#Adopt {
	background-image:('../images/tito.jpg');
	width:100%
	padding:20%;
}
#Foster {
	background:url('../images/tito.jpg'); 
	width:100%;
	padding:1.5em;
}
#Sponsor {
	background:url('../images/tito.jpg'); 
	width:100%;
	padding:1.5em;
}
#Contact {
	background-color:#F5ECCE; 
	width:100%;
	padding:1.5em;
}
